body {
    background-color: black;
    color: #ffffff;
    font-family: "ibm-plex-sans","HelvLightIBM","Helvetica Neue",Arial,sans-serif;
}

ibm-q-button {
    --ibm-q-button-secondary-color: #ffffff;
    --ibm-q-button-secondary-focus-color: #000000;
    width: 140px;
    font-size: 1.2em;
}
.description {
  height: 120px;
}

pre {
  font-size: 70%;
}

.qiskit-title {
    margin-top: 70px;
}

@media (max-width: 767px) {
    .qiskit-title {
        margin-top: 10px;
    }
 }

.qiskit-title p {
    font-size: 1.8em;
    font-weight: 100;
}

.qiskit-top-banner {
    padding: 80px 20px 60px 20px;
}

@media (max-width: 767px) {
    .qiskit-top-banner {
        padding-top: 60px;
    }
 }

.qiskit-bottom-banner {
    padding: 40px 20px;
    background-color: #ffffff;
    color: #000000;
}

.qiskit-areas > [class*="col-"] {
    padding: 10px 30px;
}
