// Variables
//
// Variables are used to customize our Carbon theme and are also made available
// to Vue components via the `@nuxtjs/style-resources` module.


// Carbon imports

@import '~@carbon/colors/scss/colors';


// Carbon variables customization

$interactive-01: $purple-70;


// All Carbon variables

@import '~carbon-components/scss/globals/scss/_vars.scss';


// Other variables

$column-size-large: 4rem;
$column-size-medium: 5rem;
$column-size-small: 5rem;

$ibm-blue: #0a1d8f; // TODO: These are colors with special meanings, we should decide if we want them or not.

$white: #ffffff;
$white-text-01: $gray-100;
$mobile-footer-text-color: #626366;
