@import '~@carbon/themes/scss/themes';
@import '~@carbon/colors/scss/colors';

$white: #ffffff;

// We are mixing two themes, a custom gray-90 for community pages and
// a custom white for HD designs. This file configures Carbon to use the
// theme gray-90. For instance, the token ui-background has a value of
// #262626 under that theme. Nevertheless, we also need to use the white
// tokens so here is a list of "white" tokens, same as in the gray theme
// but prefixed with "white-" and with the white theme values:
$white-background-ui: white;
$white-text-01: $gray-100;
$white-inverse-01: white;

/* TODO: These are colors with special meanings, we should decide if we
 * want them or not. */
$ibm-blue: #0a1d8f;

$carbon--theme--custom: map-merge(
  $carbon--theme--g90,
  (
    // Color tokens can be found at:
    // https://www.carbondesignsystem.com/guidelines/color/usage
    interactive-01: $purple-60,
    focus: $purple-60,
    icon-01: $purple-60,
  )
);

/* TODO: Remove when adapting to Carbon. */
@mixin code-08() {
  font-family: carbon--font-family('mono');
  font-size: 2rem;
  font-weight: carbon--font-weight('bold');
  letter-spacing: 0.32px;
  margin-bottom: 2rem;
};

/* TODO: Remove when adapting to Carbon. */
@mixin code-09() {
  font-family: carbon--font-family('mono');
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.32px;
  margin-bottom: 2rem;
};

/* TODO: Remove when adapting to Carbon. */
@mixin body-long-04() {
  font-size: carbon--type-scale(5);
  font-weight: carbon--font-weight('regular');
  line-height: carbon--rem(24px);
  letter-spacing: 0;
};

/* TODO: Remove when adapting to Carbon. */
@mixin productive-heading-04_5() {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: carbon--rem(26px);
  letter-spacing: 0;
};

/* TODO: Remove when adapting to Carbon. */
@mixin productive-heading-08() {
  font-size: carbon--type-scale(10);
  font-weight: bold;
  line-height: carbon--rem(64px);
  letter-spacing: 0;
};

/* TODO: Remove when adapting to Carbon. */
@mixin productive-heading-09() {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: carbon--rem(64px);
  letter-spacing: 0;
};


/* Custom sizes */
$logo-size: 12rem;
$logo-size-small: 8rem;

$icon-size: 0.75rem;

$carbon--theme: $carbon--theme--custom;
@include carbon--theme();