@import '~@carbon/themes/scss/themes';

$carbon--theme--custom: map-merge(
  $carbon--theme--g90,
  (
    interactive-01: #893ffc,
    focus: #893ffc,
    icon-01: #893ffc,
  )
);

/* TODO: Remove when adapting to Carbon. */
@mixin code-08() {
  font-family: carbon--font-family('mono');
  font-size: 2rem;
  font-weight: carbon--font-weight('bold');
  letter-spacing: 0.32px;
  margin-bottom: 2rem;
};

/* TODO: Remove when adapting to Carbon. */
@mixin code-09() {
  font-family: carbon--font-family('mono');
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.32px;
  margin-bottom: 2rem;
};

/* TODO: Remove when adapting to Carbon. */
@mixin body-long-04() {
  font-size: carbon--type-scale(5);
  font-weight: carbon--font-weight('regular');
  line-height: carbon--rem(24px);
  letter-spacing: 0;
};

/* TODO: Remove when adapting to Carbon. */
@mixin productive-heading-04_5() {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: carbon--rem(26px);
  letter-spacing: 0;
};

/* TODO: Remove when adapting to Carbon. */
@mixin productive-heading-08() {
  font-size: carbon--type-scale(10);
  font-weight: bold;
  line-height: carbon--rem(64px);
  letter-spacing: 0;
};

/* TODO: Remove when adapting to Carbon. */
@mixin productive-heading-09() {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: carbon--rem(64px);
  letter-spacing: 0;
};

$carbon--theme: $carbon--theme--custom;
@include carbon--theme();