$feature-flags: (
  grid-columns-16: true,
);

@import '~@carbon/themes/scss/themes';
@import '_variables.scss';

$carbon--theme: map-merge($carbon--theme--white, (
  'interactive-01': $interactive-01,
  'icon-01': $purple-60,
  'focus': $purple-60,
));

@include carbon--theme();

@import '~carbon-components/scss/globals/scss/styles.scss';

@import '_checkbox.scss';
