$feature-flags: (
  grid-columns-16: true,
);

@import '~@carbon/themes/scss/themes';
@import '_variables.scss';

$carbon--theme: map-merge($carbon--theme--white, (
  'interactive-01': $interactive-01,
  'ui-01': $ui-01,
  'ui-03': $ui-03,
  'text-01': $text-01,
  'text-02': $text-02,
  'text-03': $text-03,
  'icon-01': $purple-60,
  'focus': $purple-60,
  'active-primary': $active-primary,
));

@include carbon--theme();

@import '~carbon-components/scss/globals/scss/styles.scss';

@import '_checkbox.scss';
