@import '~carbon-components/scss/globals/scss/typography';

.prerequisites {
  &__title {
    @include type-style('productive-heading-02');
    color: $cool-gray-80;
    margin-bottom: $spacing-05;
  }

  &__copy {
    @include type-style('body-long-01');
    margin-bottom: $spacing-05;
  }

  &__code {
    @include type-style('code-01');
    padding: $spacing-02;
    background: $cool-gray-10;
    margin-bottom: $spacing-05;
    white-space: pre-wrap;
  }

  &__link {
    text-decoration: none;
    color: $purple-70;
  }
}