@import '~carbon-components/scss/globals/scss/typography';

.prerequisites {
  &__code {
    @include type-style('code-01');
    padding: $spacing-02;
    background: $cool-gray-10;
    margin-bottom: $spacing-05;
    white-space: pre-wrap;
  }
}