node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
coverage
dist

# Pictures downloaded from airtable
public/images/advocates/downloaded/*
public/images/events/downloaded/*
!public/images/advocates/downloaded/.gitkeep
!public/images/events/downloaded/.gitkeep

*.DS_Store

.vscode

static/sw.js

content/events/*.json
content/ecosystem/members.json
content/advocates/advocates.jon
