node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist

# Pictures downloaded from airtable
public/images/advocates/downloaded/*
public/images/events/downloaded/*

# Pictures downloaded from airtable
static/images/advocates/downloaded/*
static/images/events/downloaded/*

*.DS_Store

coverage/*

.vscode

static/sw.js