addons:
  apt:
    packages:
    - curl
language: node_js
node_js: '10'
cache:
  directories:
  - node_modules
before_script:
- npm run lint
script:
- npm run test
- npm run build
- cd deploy && bash ./deploy_ibmcos.sh
