* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url('/images/events/deco/dots.svg'),
                    url('/images/events/deco/dots.svg'),
                    url('/images/events/deco/dots.svg'),
                    url('/images/events/deco/lines.svg'),
                    url('/images/events/deco/lines.svg'),
                    url('/images/events/deco/lines.svg');
  background-repeat:  repeat-x,
                      repeat-x,
                      repeat-x,
                      repeat-y,
                      repeat-y,
                      repeat-y;
  background-position:  top calc(100vh + 890px) left 0,
                        top calc(100vh + 930px) left 0,
                        top calc(100vh + 970px) left 0,
                        top 0 right 100px, top 0 right 0,
                        top 0 right -100px;
}

ul {
  margin: 1rem 0 1rem 3rem;
}

a {
  text-decoration: none;
  color: #4A90E2;
}

a:hover {
  opacity: 0.6;
}

h2::before {
  content: "";
  float: left;
  width: 5%;
  margin-top: 0.5rem;
  margin-right: 5%;
  border-top: 1px solid var(--ibm-blue);
}

h2 {
  margin: 2rem 0 2.5rem;
  color: var(--ibm-blue);
}

.wrapper {
  display: flex;
  flex-direction: column;
}