.sg-b-p {
  box-shadow: 0 0 2rem rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-height: 90vh;
  max-width: 32rem;
  width: auto;

  &.sg-b-p-s {
    left: 5%;
    right: 5%;
  }
}
