@import '@carbon/themes/scss/themes';

$carbon--theme--custom: map-merge(
  $carbon--theme--g90,
  (
    interactive-01: #893ffc,
    focus: #893ffc,
    ui-05: #893ffc,
    icon-01: #893ffc,
  )
);

$carbon--theme: $carbon--theme--custom;
@include carbon--theme();

@import 'carbon-components/scss/globals/scss/styles.scss';
