@import '~carbon-components/scss/globals/scss/styles.scss';

* {
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  min-height: 100%;
}

.content-root * {
  box-sizing: border-box;
}

.content-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.content-root > main {
  flex-grow: 1;
}
