* {
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100%;
}

#__nuxt {
  overflow-y: auto;
}

#__nuxt.no-scroll {
  height: 100%;
  overflow: hidden;
}

.content-root * {
  box-sizing: border-box;
}

.content-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;

  &:focus {
    outline: none;
  }
}

.content-root > main {
  flex-grow: 1;
}
