@mixin framed() {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@mixin contained() {
  box-sizing: border-box;
  max-width: $large;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin elegant-title() {
  text-align: center;
  text-transform: uppercase;
}