@mixin framed() {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*
 * Based on Carbon Grid breakpoints and grid margins and column paddings:
 * https://www.carbondesignsystem.com/guidelines/2x-grid/basics/#breakpoints
 */
@mixin contained() {
  box-sizing: border-box;
  max-width: $large;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem; // 1rem for the grid margin + 1 rem for the column padding
  padding-right: 1rem;

  @include mq($from: max-size) {
    padding-left: 2.5rem; // 1.5rem for the grid margin + 1 rem for the column padding
    padding-right: 1.5rem;
  }

  @include mq($until: medium) {
    padding-left: 1rem; // 0rem for the grid margin + 1 rem for the column padding
  }
}

/*
 * Adds the grid background at $url and size it to match
 * $background-width x $background-height, placing it at $top-offset from top.
 *
 * The mixin assumes the grid is made of 64x64 after sizing and resize the
 * background when in medium or small screens so the squares are 40x40.
 */
@mixin landing-page-grid($url, $background-width, $background-height: auto, $top-offset: 0) {
  background-image: url($url);
  background-position: top $top-offset center;
  background-repeat: repeat-x;
  background-size: $background-width $background-height;

  @include mq($until: large) {
    $grid-small-scale: 40 / 64;
    $background-width-scaled: $background-width * $grid-small-scale;
    $background-height-scaled: $background-height * $grid-small-scale;
    background-size: $background-width-scaled $background-height-scaled;
  }
}


@mixin elegant-title() {
  text-align: center;
  text-transform: uppercase;
}