@import '~sass-mq';

$mq-responsive: true;

$mq-breakpoints: (
  /*
  Carbon breakpoints, for more information, take a look at:
  https://www.carbondesignsystem.com/guidelines/2x-grid/basics#breakpoints
  */
  small: 320px,
  medium: 672px,
  large: 1056px,
  x-large: 1312px,
  max: 1584px
);
