@import '~sass-mq';

$mq-responsive: true;

$small: 20em;
$medium: 42em;
$large: 66em;
$x-large: 82em;
$max: 99em;

$mq-breakpoints: (
  /*
  Carbon breakpoints, for more information, take a look at:
  https://www.carbondesignsystem.com/guidelines/2x-grid/basics#breakpoints
  */
  small: $small,
  medium: $medium,
  large: $large,
  x-large: $x-large,
  max: $max
);
