:root {
  --ibm-blue: #0a1d8f;
  --primary-color: #242a2e;
  --primary-color-dark: #161f25;
  --primary-color-darkmost: #0d1a22;
  --primary-color-light: #424c53;
  --primary-color-lightmost: #5d6870;
  --secondary-color: #893ffc;
  --secondary-color-light: #a167fc;
  --secondary-color-lightmost: #bc93fc;
  --secondary-color-dark: #6f16fa;
  --secondary-color-darkmost: #6105f2;
  --body-color-light: #e0e0e0;
  --body-color-dark: #333333;
  --purple-60: #8a3ffc;
  --gray-70: #525252;
  --gray-80: #393939;
  --gray-90: #262626;
  --white: #ffffff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-top: 1.5rem;
}
