.bx--checkbox-label::before {
  border: 1px solid black;
}

.bx--checkbox:focus + .bx--checkbox-label::before {
  box-shadow: 0 0 0 2px white, 0 0 0 4px $focus-color;
}

.bx--checkbox:checked + .bx--checkbox-label::after {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.bx--checkbox:checked + .bx--checkbox-label::before {
  background-color: black;
  border-color: black;
  border-width: 1px;
}
