.prerequisites {
  &__code {
    padding: $spacing-02;
    background: $background-color-lighter;
    margin-bottom: $spacing-05;
    white-space: pre-wrap;
  }

  &__section {
    margin-bottom: $spacing-08;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
