@use "~/assets/scss/carbon.scss";
@use "~/assets/scss/helpers/index.scss" as qiskit;

// TODO: Move definitions to the components that use them.
.prerequisites {
  &__code {
    padding: carbon.$spacing-02;
    background: qiskit.$background-color-lighter;
    margin-bottom: carbon.$spacing-05;
    white-space: pre-wrap;
  }

  &__section {
    margin-bottom: carbon.$spacing-08;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
