@use "~/assets/scss/carbon.scss";

.prerequisites {
  &__code {
    padding: carbon.$spacing-02;
    background: $background-color-lighter;
    margin-bottom: carbon.$spacing-05;
    white-space: pre-wrap;
  }

  &__section {
    margin-bottom: carbon.$spacing-08;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
