@import "~carbon-components/scss/globals/scss/typography";
@import "~@carbon/type/scss/font-family";
@import "~@carbon/type/scss/scale";
@import "~@carbon/type/scss/styles";

// Based on Carbon's "expressive-heading-05" but not fluid
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h1,
.h1 {
  color: $text-color-light;
  font-size: carbon--type-scale(8);
  font-weight: carbon--font-weight("regular");
  letter-spacing: 0;
  line-height: 1.25;

  @include mq($from: medium) {
    font-size: carbon--type-scale(9);
    font-weight: carbon--font-weight("light");
    line-height: 1.22;
  }

  @include mq($from: large) {
    font-size: carbon--type-scale(10);
    line-height: 1.19;
  }

  @include mq($from: x-large) {
    font-size: carbon--type-scale(11);
    line-height: 1.17;
  }

  @include mq($from: max-size) {
    font-size: carbon--type-scale(13);
  }
}

// Based on Carbon's "expressive-heading-04" but not fluid
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h2,
.h2 {
  color: $text-color-light;
  font-size: carbon--type-scale(7);
  font-weight: carbon--font-weight("regular");
  letter-spacing: 0;
  line-height: 1.29;
  margin-bottom: $spacing-05;

  @include mq($from: x-large) {
    font-size: carbon--type-scale(8);
    line-height: 1.25;
    margin-bottom: $spacing-06;
  }
}

// Based on Carbon's "expressive-heading-03" but not fluid
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h3,
.h3 {
  color: $text-color-light;
  font-size: carbon--type-scale(5);
  font-weight: carbon--font-weight("regular");
  letter-spacing: 0;
  line-height: 1.3;
  margin-bottom: $spacing-05;

  @include mq($from: max-size) {
    font-size: carbon--type-scale(6);
    line-height: 1.17;
  }
}

// Based on Carbon's "expressive-heading-01" but not fluid
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h4,
.h4 {
  color: $text-color-light;
  font-size: carbon--type-scale(2);
  font-weight: carbon--font-weight("semibold");
  letter-spacing: 0.16px;
  line-height: 1.29;
  margin-bottom: $spacing-05;
}

p,
.p {
  @include type-style("body-long-01");

  color: $text-color-light;
  max-width: 9 * $column-size-large;
  margin-bottom: $layout-03;

  @include mq($until: large) {
    margin-bottom: $layout-01;
  }

  &.compact {
    max-width: 6 * $column-size-large;

    @include mq($from: medium, $until: large) {
      max-width: 5 * $column-size-medium;
    }

    @include mq($until: medium) {
      max-width: 5 * $column-size-small;
    }
  }



// Carbon's "caption-01"
// https://www.carbondesignsystem.com/guidelines/typography/expressive
.caption {
  @include carbon--type-style("caption-01");
}

// Carbon's "code-01"
// https://www.carbondesignsystem.com/guidelines/typography/expressive
code,
.code {
  @include carbon--type-style("code-01");
}
