@use "~/assets/scss/carbon.scss";
//TODO: Review imports
@import "~/node_modules/@carbon/type/scss/font-family";
@import "~/node_modules/@carbon/type/scss/scale";
@import "~/node_modules/@carbon/type/scss/styles";

// @import "~@carbon/type/scss/font-family";
// @import "~@carbon/type/scss/scale";
// @import "~@carbon/type/scss/styles";

// Carbon's "body-long-01"
// https://www.carbondesignsystem.com/guidelines/typography/productive
body {
  @include carbon--type-style("body-long-01");
}

// Based on Carbon's "body-long-01"
// https://www.carbondesignsystem.com/guidelines/typography/productive
p,
.p {
  @include carbon--type-style("body-long-01");

  margin-bottom: carbon.$spacing-05;
}

// Based on Carbon's "expressive-heading-05" but not fluid
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h1,
.h1 {
  @include carbon--type-style("expressive-heading-05");

  @include carbon.breakpoint-up(md) {
    font-size: carbon--type-scale(9);
    font-weight: carbon--font-weight("light");
    line-height: 1.22;
  }

  @include carbon.breakpoint-up(lg) {
    font-size: carbon--type-scale(10);
    line-height: 1.19;
  }

  @include carbon.breakpoint-up(xlg) {
    font-size: carbon--type-scale(11);
    line-height: 1.17;
  }

  @include carbon.breakpoint-up(max) {
    font-size: carbon--type-scale(13);
  }
}

// Based on Carbon's "expressive-heading-04" but not fluid
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h2,
.h2 {
  @include carbon--type-style("expressive-heading-04");

  margin-bottom: carbon.$spacing-05;

  @include carbon.breakpoint-up(xlg) {
    font-size: carbon--type-scale(8);
    line-height: 1.25;
    margin-bottom: carbon.$spacing-06;
  }
}

// Based on Carbon's "expressive-heading-03" but not fluid
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h3,
.h3 {
  @include carbon--type-style("expressive-heading-03");

  margin-bottom: carbon.$spacing-05;

  @include carbon.breakpoint-up(max) {
    font-size: carbon--type-scale(6);
    line-height: 1.17;
  }
}

// Based on Carbon's "expressive-heading-01"
// https://www.carbondesignsystem.com/guidelines/typography/expressive/
h4,
.h4 {
  @include carbon--type-style("expressive-heading-01");

  margin-bottom: carbon.$spacing-05;
}

// Based on Carbon's "expressive-heading-01"
// https://v10.carbondesignsystem.com/guidelines/typography/expressive/
h5,
.h5 {
  @include carbon--type-style("expressive-heading-01");

  font-weight: normal;
  font-style: italic;
  margin-bottom: carbon.$spacing-05;
}

// Carbon's "caption-01"
// https://www.carbondesignsystem.com/guidelines/typography/expressive
.caption {
  @include carbon--type-style("caption-01");
}

// Carbon's "code-01"
// https://www.carbondesignsystem.com/guidelines/typography/expressive
code,
.code {
  @include carbon--type-style("code-01");
}
