@import "~carbon-components/scss/globals/scss/typography";

h1,
.h1 {
  @include type-style("display-01", true);

  max-width: 10 * $column-size-large;

  @include mq($from: medium, $until: large) {
    max-width: 6 * $column-size-medium;
  }

  @include mq($until: medium) {
    max-width: 100%;
  }
}

h2,
.h2 {
  @include type-style("expressive-heading-05");

  color: $text-color-light;
  margin-bottom: $layout-03;
  max-width: 8 * $column-size-large;

  @include mq($from: medium, $until: large) {
    margin-bottom: $layout-01;
    max-width: 4 * $column-size-medium;
  }

  @include mq($until: medium) {
    margin-bottom: $layout-01;
    max-width: 4 * $column-size-small;
  }
}

.copy {
  &__subtitle {
    @include type-style('productive-heading-02');

    color: $text-color-light;
    margin-bottom: $spacing-05;

    @include mq($from: medium, $until: large) {
      @include type-style('productive-heading-01');

      max-width: 4 * $column-size-medium;
      margin-bottom: $spacing-03;
    }

    @include mq($until: medium) {
      @include type-style('productive-heading-01');

      max-width: 4 * $column-size-small;
      margin-bottom: $spacing-03;
    }
  }

  &.nuxt-content p,
  &__paragraph {
    @include type-style('body-long-01');

    color: $text-color-light;
    max-width: 9 * $column-size-large;
    margin-bottom: $layout-03;

    @include mq($until: large) {
      margin-bottom: $layout-01;
    }

    &_importance {
      &_support {
        max-width: 6 * $column-size-large;

        @include mq($from: medium, $until: large) {
          max-width: 5 * $column-size-medium;
        }

        @include mq($until: medium) {
          max-width: 5 * $column-size-small;
        }
      }

      &_outstanding {
        max-width: 6 * $column-size-large;
        margin-bottom: $layout-04;

        @include mq($from: medium, $until: large) {
          max-width: 4 * $column-size-medium;
          margin-bottom: $layout-03;
        }

        @include mq($until: medium) {
          max-width: 4 * $column-size-small;
          margin-bottom: $layout-03;
        }
      }
    }
  }

  &__util {
    &_vertical-spacer {
      padding-bottom: $layout-07;

      @include mq($until: medium) {
        padding-bottom: $layout-05;
      }
    }
  }
}
