name: build and deploy

on:
  # run when action is manually triggered
  workflow_dispatch:
  # run on pushes to master branch
  push:
    branches: [ master ]
  # run daily at 08:00am UTC (on the default or base branch)
  # https://crontab.guru/#0_8_*_*_*
  schedule:
    - cron: '0 8 * * *'

jobs:
  # job id/key
  build-and-deploy:
    # job name
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci

      - name: Generate
        run: npm run generate
        env:
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}

      - name: Deploy
        run: cd deploy && ./deploy_cos.sh
        shell: bash
        env:
          encrypted_rclone_iv: ${{ secrets.ENCRYPTED_RCLONE_IV }}
          encrypted_rclone_key: ${{ secrets.ENCRYPTED_RCLONE_KEY }}
