name: Build and deploy

on:
  workflow_dispatch:
  push:
    branches: [main]
  # run daily at 08:00am UTC (on the default or base branch)
  # https://crontab.guru/#0_8_*_*_*
  schedule:
    - cron: "0 8 * * *"

jobs:
  build-and-deploy:
    # Run only from the original repository
    # Because this job requires secrets, which cannot be shared with forks
    if: github.repository == 'Qiskit/qiskit.org'

    name: Build and Deploy

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "npm"
      - run: npm ci

      - name: Build
        run: npm run generate
        env:
          AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_ANALYTICS_CATEGORY: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_ANALYTICS_CATEGORY }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_INSTANCE_ID: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_INSTANCE_ID }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_ANALYTICS_KEY: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_ANALYTICS_KEY }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_ENABLED: true
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_PRODUCT_CODE: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_PRODUCT_CODE }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_PRODUCT_CODE_TYPE: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_PRODUCT_CODE_TYPE }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_PRODUCT_TITLE: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_PRODUCT_TITLE }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_SCRIPT_SRC: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_SCRIPT_SRC }}
          NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_UT30: ${{ secrets.NUXT_PUBLIC_IBM_ANALYTICS_SEGMENT_UT30 }}

      - name: Deploy
        run: cd deploy && ./deploy_cos.sh
        shell: bash
        env:
          encrypted_rclone_iv: ${{ secrets.ENCRYPTED_RCLONE_IV }}
          encrypted_rclone_key: ${{ secrets.ENCRYPTED_RCLONE_KEY }}
