name: CI

# run when action is manually triggered
# or when a pull request is made
on: [workflow_dispatch, pull_request]

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "npm"
      - run: npm ci
      - run: npm run lint

  test:
    name: Test

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["12", "14"]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm test

  build:
    name: Build

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["12", "14"]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run generate
